@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Light'), local('Futura-PT-Light'),
    url('/public/fonts/FuturaPT-Light.woff2') format('woff2'),
    url('/public/fonts/FuturaPT-Light.woff') format('woff'),
    url('/public/fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
body{
    background-color: #fefefe;
}
.nav-link.active {
    background: #00D9C0!important;
}
.tab-img {
    box-shadow: 1px 25px 30px -20px #09E2FD;
}
.carousel-inner .active.left {
    left: -33%;
}
.carousel-inner .next {
    left: 33%;
}
.carousel-inner .prev {
    left: -33%;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.carousel-multi .carousel-inner > .item {
    transition: 500ms ease-in-out left;
}
.carousel-multi .carousel-inner > .item > .media-card {
    background: #333;
    border-right: 10px solid #fff;
    display: table-cell;
    width: 1%;
}
.carousel-multi .carousel-inner > .item > .media-card:last-of-type {
    border-right: none;
}
.carousel-multi .carousel-inner .active {
    display: table;
}
.carousel-multi .carousel-inner .active.left {
    left: -33%;
}
.carousel-multi .carousel-inner .active.right {
    left: 33%;
}
.carousel-multi .carousel-inner .next {
    left: 33%;
}
.carousel-multi .carousel-inner .prev {
    left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-multi .carousel-inner > .item {
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
    }
}

@media only screen and (max-width: 760px) {
    .bgt{
        background:none!important;
    }
    .text-media{
        font-size:30px!important;
    }
    .picks {
        width:50%!important;
        padding:2%!important;
    }
    .varss{
        width:100%!important;
    }
    .cont{
        height:1150px!important;
    }
    .cent {
        text-align:center;
    }
    .bgtd
    {
        background:linear-gradient(#445570,#29374D)!important;
        background-size: 100% 100%;
    }
}