@font-face {
    font-family: 'Futura PT Light';
    src: local('Futura PT Light'), local('Futura-PT-Light'),
    url('/fonts/FuturaPT-Light.woff2') format('woff2'),
    url('/fonts/FuturaPT-Light.woff') format('woff'),
    url('/fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT Bold';
    src: local('Futura PT Bold'), local('Futura-PT-Bold'),
    url('/fonts/ofont.ru_Futura PT.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
.text-fut-bold {
    font-family: "Futura PT Bold";
}
.text-fut-light {
    font-family: "Futura PT Light";
}
body{
    background-color: #fefefe;
}
.nav-link.active {
    background: #00D9C0!important;
}

.tab-img {
    box-shadow: 10px 65px 30px -50px #09E2FD;
}
.butt {
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #00D9C0;
    display: block;
    padding: 8px 8px;
    border-radius: 100%;
    cursor: pointer;
    animation: pulse 1.5s infinite;
}
#b1 { position: absolute; left: 2vw; top: 3vw; }
#b2 { position: absolute; left: 2vw; top: 9vw; }
#b3 { position: absolute; left: 22vw; top: 5vw; }
#b4 { position: absolute; left: 22vw; top: 12vw; }
#b5 { position: absolute; left: 22vw; top: 20vw; }
#b6 { position: relative; width:10px; left:45%; }

@keyframes pulse {
    from { box-shadow: 0 0 0 0px #00D9C0;); }
    to { box-shadow: 0 0 0 15px rgba(0, 0, 0, 0); }
}
@media only screen and (max-width: 760px) {
    #main{
        padding-top: 10% !important;
    }
    .main-ht{
        height:auto!important;
    }
    .bgt{
        background:none!important;
    }
    .text-media{
        font-size:30px!important;
    }
    .picks {
        width:50%!important;
        padding:2%!important;
    }
    .varss{
        width:100%!important;
    }
    .cont{
        height:1150px!important;
    }
    .cent {
        text-align:center;
        padding-top: 5%!important;
    }
    .bgtd
    {
        background:linear-gradient(to right, #0E8375,#42559B)!important;
        background-size: 100% 100%;
    }
    .bord{
        border:0px!important;
    }
    .text-20
    {
        font-size:20px!important;
    }
    .pl-media
    {
        padding-left: 2%!important;
        position: static!important;
        padding-bottom:3%;
    }
    .pad-t
    {
        padding-top: 6%!important;
    }
    .tabs-media{
        font-size: 14px!important;
    }
}
.gallery {
   opacity: 1;
    transition: 0.2s linear;
}
.gallery:hover {
   opacity: 0.4;
}

.callback-bt {
    background:#00D9C0;
    border:2px solid #00D9C0;
    border-radius:30px!important;
    box-shadow:0 8px 10px rgba(0, 217, 192, 0.3);
    cursor:pointer;
    height:68px;
    text-align:center;
    width:68px;
    position: fixed;
    right: 4%;
    bottom: 9%;
    z-index:999;
    transition:.3s;
    -webkit-animation:hoverWave linear 1s infinite;
    animation:hoverWave linear 1s infinite;
}

.callback-bt .text-call{
    height:68px;
    width:68px;
    border-radius:30px!important;
    position:relative;
    overflow:hidden;
}

.callback-bt i {
    color:#fff;
    font-size:34px;
    transition:.3s;
    line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt i  {
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
    0% {
        box-shadow:0 8px 10px rgba(0, 217, 192, 0.3),0 0 0 0 rgba(0, 217, 192, 0.2),0 0 0 0 rgba(0, 217, 192, 0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(0, 217, 192, 0.3),0 0 0 15px rgba(0, 217, 192, 0.2),0 0 0 0 rgba(0, 217, 192, 0.2)
    }
    80% {
        box-shadow:0 8px 10px rgba(0, 217, 192, 0.3),0 0 0 30px rgba(0, 217, 192, 0),0 0 0 26.7px rgba(0, 217, 192, 0.07)
    }
    100% {
        box-shadow:0 8px 10px rgba(0, 217, 192, 0.3),0 0 0 30px rgba(0, 217, 192, 0),0 0 0 40px rgba(0, 217, 192, 0)
    }
}@keyframes hoverWave {
     0% {
         box-shadow:0 8px 10px rgba(0, 217, 192, 0.3),0 0 0 0 rgba(0, 217, 192, 0.2),0 0 0 0 rgba(0, 217, 192, 0.2)
     }
     40% {
         box-shadow:0 8px 10px rgba(0, 217, 192, 0.3),0 0 0 15px rgba(0, 217, 192, 0.2),0 0 0 0 rgba(0, 217, 192, 0.2)
     }
     80% {
         box-shadow:0 8px 10px rgba(0, 217, 192, 0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(0, 217, 192, 0.07)
     }
     100% {
         box-shadow:0 8px 10px rgba(0, 217, 192, 0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
     }
 }

/* animations icon */

@keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}

@-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}
/*кнопка обратной связи*/

.email-bt {
    background: #25d366;
    border:2px solid #25d366;
    -webkit-border-radius: 60% !important;
    -moz-border-radius: 60% !important;
    border-radius: 60% !important;
    box-shadow:0 8px 10px #25d366;
    cursor:pointer;
    height:68px;
    text-align:center;
    width:68px;
    position: fixed;
    left: 4%;
    bottom: 9%;
    z-index:999;
    transition:.3s;
    -webkit-animation:email-an linear 1s infinite;
    animation:email-an linear 1s infinite;
}

.email-bt .text-call{
    height:68px;
    width:68px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position:relative;
    overflow:hidden;
}
.email-bt i {
    color:#fff;
    font-size:29px;
    transition:.3s;
    line-height: 66px;
}

.email-bt i  {
    -webkit-animation: opsimple 3s infinite;
    animation: opsimple 3s infinite;
}

@-webkit-keyframes email-an {
    0% {
        box-shadow:0 8px 10px rgba(37, 211, 102, 0.3),0 0 0 0 rgba(37, 211, 102, 0.2),0 0 0 0 rgba(37, 211, 102, 0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(37, 211, 102, 0.3),0 0 0 15px rgba(37, 211, 102, 0.2),0 0 0 0 rgba(37, 211, 102, 0.2)
    }
    80% {
        box-shadow:0 8px 10px rgba(37, 211, 102, 0.3),0 0 0 30px rgba(37, 211, 102, 0),0 0 0 26.7px rgba(37, 211, 102, 0.07)
    }
    100% {
        box-shadow:0 8px 10px rgba(37, 211, 102, 0.3),0 0 0 30px rgba(37, 211, 102, 0),0 0 0 40px rgba(37, 211, 102, 0)
    }
}@keyframes email-an {
     0% {
         box-shadow:0 8px 10px rgba(37, 211, 102, 0.3),0 0 0 0 rgba(37, 211, 102, 0.2),0 0 0 0 rgba(37, 211, 102, 0.2)
     }
     40% {
         box-shadow:0 8px 10px rgba(37, 211, 102, 0.3),0 0 0 15px rgba(37, 211, 102, 0.2),0 0 0 0 rgba(37, 211, 102, 0.2)
     }
     80% {
         box-shadow:0 8px 10px rgba(37, 211, 102, 0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 26.7px rgba(37, 211, 102, 0.07)
     }
     100% {
         box-shadow:0 8px 10px rgba(37, 211, 102, 0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 40px rgba(37, 211, 102, 0)
     }
 }

@keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* конец кнопки звязи */
.nav-navbar {
    height: 58px;
    width: 100%;
    position: fixed;
    color: white;
    letter-spacing: 0.025em;
    transition: background-color 0.2s linear;
}
.menuse.solid-nav {
    background-color: white!important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.opa
{
    opacity:0!important;
}
.logo{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ica{
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ica:hover{
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -o-transform: scale(1.10);
}